/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
/modules/tree-config/target/provided/stale/extract-native.dependencies
/modules/tree-config/target
